*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00224D;
    color: white;
    height: 100px;
}
.navlogo{
    margin-right: 100px;
}

.navlogo i{
    color: white;
    font-size: 45px;
    margin-top: 8px;
    margin-left: 70px;
}
.navlogo p{
    color: rgb(242, 167, 240);
    font-size: 35px;
    margin-top: 2px;
    font-weight: 600;
}
.ambulance{
    font-size: 50px;
    margin-right: 100px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(image_1.jpg);
    background-size: cover;
    height: 37.95rem;
}

.content{
    font-size: 30px;
    color: #000000;
}

.content input{
    height: 25px;
    width: 280px;
}

.content button{
    height: 25px;
    width: 170px;
    font-size: 21px;
    border-radius: 2rem;
    font-weight: 550;
}

.content button:hover{
    background-color: rgb(242, 167, 240);
    color: white;
}